<div class="container">
  <div class="row first">
    <button type="button" class="btn btn-primary">Add</button>
  </div>
  <div>
    <ul class="list-group ">
      <li class="list-group-item justify-content-between">
        <button type="button" class="btn btn-success">Add to cart</button>
        Cras justo odio
        <span class="badge badge-default badge-pill">14</span>
      </li>
      <li class="list-group-item justify-content-between">
        <button type="button" class="btn btn-success">Add to cart</button>
        Dapibus ac facilisis in
        <span class="badge badge-default badge-pill">2</span>
      </li>
      <li class="list-group-item justify-content-between">
        <button type="button" class="btn btn-success">Add to cart</button>
        Morbi leo risus
        <span class="badge badge-default badge-pill">1</span>
      </li>
    </ul>
  </div>
</div>